@font-face {
    
}


@charset "UTF-8";
body {
    background-color: rgb(118, 118, 236);
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-shadow: 10px 5px 20px black;
    text-align: center;
}

b {
    font-weight: bold;
}

t {
    position: relative;
    float: left;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 300%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}

footer {
    text-align: center;
}

figure.legenda {
    position: relative;
    border: 4px solid white;
    box-shadow: 4px 4px 2px black;
    display: flex;
}

figure.legenda img{
    position: relative;
    width: 100%;
    height: 100%;
}

figure.legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: black;
    color: white;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.legenda:hover figcaption {
    opacity: 0.8;
}

figure.twitter img{
    width: 7%;
    height: 7%;
}